{% extends 'base.html' %}

{% block titulo %}
Bienvenido
{% endblock %}

{% block contenido %}
<div class="m-3">
    <h2 class="text-center">Bienvenido a mi pagina</h2>
    <p>En esta pagina podras encontrar informacion muy interesante de diferentes temas segun lo que mas te llame la atencion.
        Te hablamos un poco sobre animales exoticos para que te adentres en el maravilloso reino animal tanto de animales acuaticos como terrestres o aereos.
        Si los animales no te llaman tanto la atencion tambien te contamos sobre vehiculos antiguos, aqui encontraras un poco de historia sobre como fue que nacieron 5 vehiculos de diferentes marcas.
        En el caso de que no te sea de interes ninguno de estos 2 temas no te preocupes que seguro las 7 Maravillas del mundo si lo sera, te mostramos hermosas fotos, videos y te hablamos un poco de cada una de ellas.
        Ademas en la seccion de "Acerca de.." te contare un poco sobre mi.
    </p>
</div>
{% endblock contenido %}