<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <header class="text-center m-3">
        <h1>
            Desarrollo de Plantilla Base
        </h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Plantilla Base</a>

            <div class="navbar-nav text-white">
                <a class="nav-link active" aria-current="page" href="menu.html">Inicio</a>
                <a class="nav-link" href="animales.html">Animales exoticos</a>
                <a class="nav-link" href="vehiculos.html">Vehiculos antiguos</a>
                <a class="nav-link" href="maravillas.html">Las maravillas del mundo</a>
                <a class="nav-link" href="acerca.html">Acerca de</a>
            </div>
        </div>
    </nav>
<div class="m-3">
    <h2 class="text-center">Bienvenido a mi pagina</h2>
    <p>En esta pagina podras encontrar informacion muy interesante de diferentes temas segun lo que mas te llame la atencion.
        Te hablamos un poco sobre animales exoticos para que te adentres en el maravilloso reino animal tanto de animales acuaticos como terrestres o aereos.
        Si los animales no te llaman tanto la atencion tambien te contamos sobre vehiculos antiguos, aqui encontraras un poco de historia sobre como fue que nacieron 5 vehiculos de diferentes marcas.
        En el caso de que no te sea de interes ninguno de estos 2 temas no te preocupes que seguro las 7 Maravillas del mundo si lo sera, te mostramos hermosas fotos, videos y te hablamos un poco de cada una de ellas.
        Ademas en la seccion de "Acerca de.." te contare un poco sobre mi.
    </p>
</div>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</body>

</html>