<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <header class="text-center m-3">
        <h1>
            Vehículos Antiguos
        </h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Plantilla Base</a>

            <div class="navbar-nav text-white">
                <a class="nav-link active" aria-current="page" href="menu.html">Inicio</a>
                <a class="nav-link" href="animales.html">Animales exoticos</a>
                <a class="nav-link" href="vehiculos.html">Vehiculos antiguos</a>
                <a class="nav-link" href="maravillas.html">Las maravillas del mundo</a>
                <a class="nav-link" href="acerca.html">Acerca de</a>
            </div>
        </div>
    </nav>
    <div class="m-3">
        <h2 class="text-center">Evolucion del transporte</h2>
        <p>
            Los vehículos antiguos representan la evolución del transporte y el ingenio humano.
        </p>

        <h3>El Clásico Americano</h3>
        <h4>Ford Mustang (1964)</h4>
        <p>Lanzado en 1964, revolucionó el concepto de “pony car” y sigue siendo admirado por su estilo. Un deportivo
            asequible y con estilo para el público joven, con una enorme influencia cultural. </p>
        <img src="" alt="Mustang">

        <h3>Innovación "Alas de Gaviota"</h3>
        <h4> Mercedes-Benz 300SL (1957)</h4>
        <p> Un hito en la historia automotriz por sus icónicas puertas de "ala de gaviota" y su diseño de auto de
            carreras. Es uno de los autos clásicos más caros, un deportivo de alta gama que fusionaba innovación técnica
            con un diseño espectacular.
        </p>
        <img src="" alt="Mercedes-Benz">

        <h3>Ícono Alemán y Popular en México</h3>
        <h4>Volkswagen Sedán (Vocho) (1960s a 1990s)</h4>
        <p> Uno de los autos más queridos en México, reconocible por su diseño icónico y su durabilidad.Un vehículo
            económico, funcional y con un diseño inconfundible que lo hizo popular en muchos países. </p>
        <img src="" alt="Vocho">

        <h3>Símbolo del Estilo Americano de los 50s y 60s</h3>
        <h4>Chevrolet Impala (1965) </h4>
        <p> Representa el estilo grande y de lujo de la década de 1960 en Estados Unidos, con una presencia imponente.Un
            coche de gran tamaño, con un diseño característico y una experiencia de manejo lujosa, que definía los
            "muscle cars"</p>
        <img src="" alt="Chevrolet">

        <h3></h3>
        <h4>Jaguar E-Type (1961) </h4>
        <p> Es considerado uno de los autos más bellos jamás diseñados, con una combinación de estética y rendimiento
            deportivo.Un vehículo de lujo con un diseño revolucionario que lo convirtió en un símbolo de la era. </p>
        <img src="" alt="Jaguar" >
    </div>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</body>

</html>